<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
        <!-- Connection used to create test database during test run (note connection timeout - LocalDB can take a while to start when first accessed)-->
        <add name="setup" connectionString="Server=(localDB)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=SSPI;Connection Timeout=60" />
		<add name="accounts" connectionString="Server=(localDB)\MSSQLLocalDB;Initial Catalog=CableCo.Accounts.IntegrationTests;Integrated Security=SSPI" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>