<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
    </configSections>

    <rebus inputQueue="CableCo.ProvisioningService.input" errorQueue="CableCo.ProvisioningService.error" workers="1">
        <endpoints>
            <add messages="CableCo.Accounts.Events" endpoint="CableCo.AccountsService.input"/>
        </endpoints>
    </rebus>
    
    <connectionStrings>
        <!-- Connection used to set up local development database (note connection timeout - LocalDB can take a while to start when first accessed) -->
        <add name="setup" connectionString="Server=(localDB)\v11.0;Initial Catalog=master;Integrated Security=SSPI;Connection Timeout=60" />
        <add name="endpoint" connectionString="Server=(localDB)\v11.0;Initial Catalog=CableCo.ProvisioningServiceEndpoint.Dev;Integrated Security=SSPI" />
    </connectionStrings>

    <appSettings>
        <add key="Environment" value="Dev" />
    </appSettings>
    
</configuration>